body {
  background: #070707;
  color: #ffff;
  text-align: center;
  margin: 40px;
  padding: 0;
}
h1 {
  line-height: 2;
  font-family: "Secular One";
  font-size: 30px;
  text-align: center;
  color: #d7dbd9;
}
h2 {
  line-height: 1.6;
  font-family: "Secular One";
  text-align: center;
  font-size: 35px;
}

p {
  line-height: 1.5;
  font-family: "Asap";
  text-align: center;
  font-size: 15px;
  color: #d7dbd9;
}
hr {
  border: none;
  padding: 40px;
}

a:link, a:visited {
  color:#8B8483;
  text-align: center;
  font-family: "Asap";
  font-size: 13px;
  text-decoration: none;
}
/*hovering over a link*/
a:hover {
  color: #6EC7B1;
}
/*link of the current page is blue*/
#current_page {
  color: #6EC7B1;
}
/*menu items shsould be spaced*/
.menu {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
/*----------------container for index page-----------------*/
.container{
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 25px;
  grid-auto-flow: dense;
  justify-content: center;
}
.gallery-item {
  width: 100%;
  height: 100%;
  position: center;
  justify-content: center;
}
.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  transition: 0.2s;
}
.container img:hover {
  filter: opacity(80%);
}
.gallery-item .text {
  opacity: 0;
  position: absolute;
  font-family: "Secular One";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 4;
  transition: .5s ease-in-out;
}
.gallery-item:hover .text {
  opacity: 1;
  padding: 1em;
  width: 100%;
}

/*------------container for animation page------------*/
.ani-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 25px;
  grid-auto-flow: dense;
  margin: 25px;
  justify-content: center;
}
.ani-container2 {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-flow: dense;
  margin: 25px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.ani-container img:hover {
  filter: opacity(70%);
}
.ani-container2 img:hover {
  filter: opacity(70%);
}
.ani-container iframe {
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.ani-container iframe:hover {
  filter: opacity(70%);
}

/*--------------grid for contact page---------------------*/
.grid {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  grid-auto-flow: dense;
  justify-content: center;
}
.grid > div {
  padding: 30px;
}
.grid img {
  max-width: 100%;
}

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}
.w-4 {
  grid-column: span 4;
}

.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
.h-4 {
  grid-row: span 4;
}

@media screen and (max-width:500px) {
  .container {
    grid-template-columns: repeat(4, auto);
  }
  .ani-container {
    grid-template-columns: repeat(1, auto);
  }
  .ani-container2 {
    grid-template-columns: repeat(2, auto);
  }
  .menu {
    grid-template-columns: repeat(1, auto);
  }
  .grid {
    grid-template-columns: repeat(1, auto);
  }
}
/*-----------------lightbox------------------------------*/

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 2px;

  /* Image border */
  border: 4px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: black;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(lightbox-images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(lightbox-images/prev.png) left 45% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0.6;
}

.lb-nav a.lb-next {
  width: 34%;
  right: 0;
  float: right;
  background: url(lightbox-images/next.png) right 45% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0.6;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
  font-family: "Asap";
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 64px;
  height: 64px;
  background: url(lightbox-images/close.png) bottom right no-repeat;
  text-align: bottom right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 100;
}
